.m-card {
  border-radius: 14px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
  margin: 5px;
}

.m-card-content {
  margin-top: 5px;
}

.m-img {
  display: block;
  margin: auto;
  max-width: 60%;
  height: auto;
  text-align: center;
}

.m-title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  color: #444;
}

.m-subtitle {
  text-align: center;

}
