.header {
  padding: 10px 25px 35px 25px;
}

.m-title {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #444;
}

.m-sub-title {
  font-size: 14px;
  text-align: right;
  color: #FD646A;
}
