.m-content {
  background-color: #F0F5FB;
}

.container {
  padding: 35px 25px 25px;
}

.m-title {
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  margin-top: 10px;
}

.m-sub-title {
  margin-top: 5px;
}
