
.container {
  margin-left: 15px;
  margin-right: 15px;
}


.spacer {
  margin: 35px;
}

.m-slide {
  margin-top: 22px;
  margin-bottom: 56px;
  margin-right: 5px;
}

div[scrollx=true] {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .scroll-item {
    flex: 0 0 auto;
  }
}
