// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: "Quicksand";
  src: url('./assets/fonts/quicksand.ttf');
}

*::-webkit-scrollbar {
  display: none;
}

body {
  //-webkit-user-select: text;
  //user-select: text;
}

* {
  --ion-font-family: 'Quicksand', sans-serif !important;
  font-family: 'Quicksand', sans-serif !important;
}

.searchbar-input {
  height: 50px !important;
  border-radius: 40px !important;

}

.searchbar-input-container {
  height: 56px !important;

}
