<ion-header no-border no-shadow>
    <ion-toolbar>
        <lan-header></lan-header>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-virtual-scroll [items]="testList">
        <div *virtualItem="let item">
            <!--            <ion-grid >-->
            <!--                <ion-row>-->
            <!--                    <ion-col  size="6">-->
            <lan-card [img]="item.image" [title]="item.title"></lan-card>
            <!--                    </ion-col>-->
            <!--                </ion-row>-->
            <!--            </ion-grid>-->

        </div>


    </ion-virtual-scroll>
</ion-content>

